i{
    padding: 10px;
}

li{
    padding: 10px;
}
#logo{
    width: 100px;
}
nav{
    font-style: bold;
}

header{
    margin-top: 10px;
    margin-left: 180px;
    width: 975px; 
    height: 325px; 
    background-image: url("/imagenes/header.jpg");
}