i{
    padding: 10px;
    color: black;
}

li{
    padding: 10px;
}
#logo{
    width: 100px;
}
nav{
    font-style: bold;
}
input{
    width: 1dvw;
}

header{
    margin-top: 10px;
    margin-left: 180px;
    width: 975px; 
    height: 325px; 
    background-image: url("imagenes/header.jpg");
}

.container{
    float: right;
    margin-left: 30dvw;
    width: 60dvw;

}


